<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>

<IfModule mod_php.c>
  php_value upload_max_filesize 64M
  php_value post_max_size 64M
  php_value memory_limit 128M
</IfModule>
<IfModule mod_php7.c>
  php_value upload_max_filesize 64M
  php_value post_max_size 64M
  php_value memory_limit 128M
</IfModule>

